* {
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root {
  --Color_Nav: rgb(17, 12, 3);
  
  --Border_color1: rgb(255, 255, 255);
  --TEXT_COLOR_1: rgb(255, 255, 255);
  --color_0: rgb(227, 216, 117);
  --colo_1: rgb(255, 255, 255);
  --colo_2: rgb(243, 245, 128);
  --colo_3: rgb(255, 113, 91);
  --colo_4: rgb(252, 193, 0);
  --color_8: rgb(250, 192, 4);
  --color_5: rgb(179, 179, 179);
  --color_6: rgb(16, 11, 3); 
   --color_6: rgb(16, 11, 3);
  --color_li_nav: rgb(27, 18, 5);
  --negro:rgb(0, 0, 0);
  --titulo_colorgrupocero:rgb(35, 23, 1);
}


nav {
  background-color: var(--Color_Nav);
  border-color: var(--TEXT_COLOR_1);

}

.boton_buscar {
  margin-left: 20px;

  
}

.TITULO {
background-color:var(--titulo_colorgrupocero);
padding: 12px;
font-family:sans-serif;
margin-top: 4px;
border-radius: 4px;

border-bottom: 2px solid var(--color_8);
border-left: 2px solid var(--TEXT_COLOR_1);
border-top: 2px solid var(--TEXT_COLOR_1);
border-right: 2px solid var(--color_8);

}



.titulo_carr {
  
  position: relative;
  display: flex;
  font-size: 65px;
  justify-content: center;


}
.parrafo_carr {
  position: relative;
  display: flex;
  justify-content: center;
 

}

.titulosh2 {
border: 1px solid;
border-color: var(--color_5);
border-radius: 30px;

}

.titulosh2v2 {
  border: 1px solid;
  border-color: var(--color_5);
  border-radius: 30px;
  

}

.exhibición {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

/*Parte final de la pagina web*/
footer {
  background-color: var(--Color_Nav);
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
 
}

/*LOGO FOOTER */
.logofoter {
  display: block; /* Asegura que la imagen se comporta como un bloque */
  margin: 0 auto; 


}

/*informacion footer*/

.infofooter {
  color:var(--TEXT_COLOR_1);
}



.copy {

color: var(--colo_1);

}

/*Boton detalles*/
.detalles {
  position:relative;
  display: flex;
  
  align-items: center;
}

li {
  background-color:var(--color_li_nav) ;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-bottom: solid 1px var(--negro);
  border-right: solid 1px var(--negro);

} 

.exhibiciónIMG {
display: flex;
height: 250px;
}